@model IEnumerable<MovieRentals_CFirst.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") ||

    @using (@Html.BeginForm("Search", "Movies"))
    {

        <input type="text" name="bystring" />
        <input type="submit" value="Search By Name" />
    }




</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfRelease)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genere)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <img src="@Url.Content(item.ImageUrl)" class="img-thumbnail" style="width:100px ;height:90px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfRelease)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
